.theme-light, .theme-dark {
  --link-decoration: none;
  --link-decoration-hover: none;
  /* --link-external-decoration: underline; 
  --link-external-decoration-hover: underline; */
}

::selection {
  background-color: #8A5CF5; /* Change this to your desired highlight color */
  color: #000000; /* Change this to your desired text color */
}
/* Highlight color for code selection */
.cm-selectionBackground {
  background-color: #8A5CF5; /* Change this to your desired highlight color */
}

/* Highlight color for search results */
.cm-searchMatch {
  background-color: #8A5CF5; /* Change this to your desired highlight color */
}

