.theme-light, .theme-dark {
  --link-decoration: none;
  --link-decoration-hover: none;
  /* --link-external-decoration: underline; 
  --link-external-decoration-hover: underline; */
}

/* Highlight color for formatted text in Obsidian */
span.hljs {
  background-color: #8a5cf5; /* Change this to your desired highlight color */
  color: #000000; /* Change this to your desired text color */
}

.cm-s-obsidian span.cm-highlight {
  color: #ffffff;
  background-color: #238216;
}

.markdown-rendered .block-language-tikz svg {
    zoom:2
}
.markdown-preview-view p,
.cm-line {
    line-height: 1.2; /* Try 1.5–2.0 for readability */
}
